* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.bg {
  background-image: url("bg.jpg");
  width: 90%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 20px 60px;
  border-radius: 5px;
}
.content {
  padding-left: 50px;
  padding-top: 100px;
}

.content .heading {
  color: #f9f9f9;
  font-size: 45px;

  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.content .btn {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #f9f9f9;
  margin-top: 30px;
}
.content .btn a {
  color: #f9f9f9;
  font-size: 20px;
  padding: 15px 12px;
  font-weight: 400;
}
.parasec {
  margin: 70px 60px;
  color: black;
}

.parasec h1 {
  font-size: 40px;
  font-weight: bolder;
}
.parasec h3 {
  background-color: rgb(106, 245, 198);
  margin-top: 10px;
  border-radius: 6px;
  width: max-content;
  padding: 0 10px;
}
.parasec span {
  font-weight: bolder;
}
.parasec p {
  margin-top: 30px;
  font-size: 20px;
}
